{erl_opts, [debug_info]}.

{overrides, [
    {override, dataloggersql, [
        {erl_opts, [
            debug_info,
            {d, 'DATADESC_HELPER', datadesc_helper}
        ]}
    ]},
    {override, datatable, [
        {erl_opts, [
            debug_info,
            {d, 'DATA_LOGGER', dataloggersql},
            {d, 'DESC_FILE_PATH', "desc_container/include/datadesc.hrl"}
        ]}
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "apps/*/{include, src}/**.{hrl, app.src}",
        "apps/*/test/**.erl",
        "apps/*/src/**.app.src",
        "apps/*/src/**/*.erl",
        "rebar.config",
        "config/**.{config}",
        "apps/*/rebar.config"
    ]},
    {exclude_files, [
        "apps/proto_container/include/*.hrl",
        "apps/proto_container/src/demo_proto_*.erl",
        "apps/erl_mysql_temp/src/*.erl"
    ]}
]}.

{deps, [
    {datatable, {git, "git@git.dayukeji.com:ErlangFramework/datatable.git", {branch, "master"}}},
    {dataloggersql,
        {git, "git@git.dayukeji.com:ErlangFramework/dataloggersql.git", {branch, "master"}}},
    {proper, {git, "git@git.dayukeji.com:ErlangFramework/proper.git", {tag, "v1.3"}}}
]}.

{project_plugins, [
    {rebar3_proper,
        {git, "git@git.dayukeji.com:ErlangFramework/rebar3_proper.git", {tag, "0.12.1"}}},
    {erlfmt, {git, "git@git.dayukeji.com:ErlangFramework/erlfmt.git", {tag, "v0.9.0"}}}
]}.

{alias, [
    {check, [
        xref,
        dialyzer,
        edoc,
        {proper, "--regressions"},
        {proper, "-c"},
        {ct, "-c"},
        {cover, "-v --min_coverage=0"}
    ]}
]}.

{dialyzer, [
    {warnings, [
        %% Warn about undefined types and unknown functions
        unknown
    ]}
]}.

{xref_checks, [
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {test, [
        %% Avoid warnings when test suites use `-compile(export_all)`
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{relx, [
    {release, {erl_mysql_demo, "0.1.0"}, [
        erl_mysql_demo,
        sasl
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    {prod, [
        {relx,
            %% prod is the default mode when prod
            [
                %% profile is used, so does not have
                %% to be explicitly included like this
                {mode, prod}

                %% use minimal mode to exclude ERTS
                %% {mode, minimal}
            ]}
    ]}
]}.
