{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    % {apps, [desc_container]}
]}.

{datadesc_opts, [
  % {source_file_path, "test/datadesc2.xml"}
]}.

{plugins, [
  {datadescsql_rebar, {git, "git@git.dayukeji.com:ErlangFramework/datadescsql_rebar.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [
    {erlc_compile, datadesc}
  ]}
]}.

{artifacts, [
  "src/datadesc_helper.erl",
  "priv/datadesc.dump",
  "include/datadesc.hrl"
]}.