[
    {erl_dynamic, [
        {temp_path, "./apps/erl_mysql_temp/src/"}
    ]},
    {erl_mysql_demo, []},
    {erl_mysql_game, [
        {config_path, "./config/game_config.config"},
        {server_ids, [110]}
    ]},
    {erl_gate, [
        {listeners, [
            #{ip => "127.0.0.1", port => [6527]}
        ]},
        {proto_handler, demo_proto},
        {oauth, [
            #{
                path => {acc, login},
                % node => 'oauth node', % optional
                'mfa' => {'erl_mysql_oauth', 'login_validate', [ip]}
            }
            %% TODO relogin
        ]},
        {route, [
            #{
                path => '_',
                % node => 'handle node',
                'mfa' => mfa
            }
        ]}
    ]},
    {kernel, [
        % {logger_level, debug}
    ]},
    {dataloggersql, [
        {db_config, "./config/db.config"},
        {db_name, erl_mysql_demo_db}
    ]}
].
