{wgproto_opts, [
    {source_file_path, "priv/protocol.xml"},
    {target_src_path, "src"},
    {target_include_path, "include"},
    {proto_module, demo_proto}
]}.

{plugins, [
    {wgproto_rebar,
        {git, "git@git.dayukeji.com:ErlangFramework/wgproto_rebar.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, wgproto}
    ]}
]}.
